<div class="container"> 
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm the AppComponen!</h3>
      <hr>
      <app-servers></app-servers>
      <!-- <div app-servers> 1.- Así funciona como un attribute</div> -->
      <!-- <div class="app-servers"></div> 2.- Así funciona como una clase-->

      <app-warning-alerts></app-warning-alerts>
      <app-success-alerts></app-success-alerts>

      <hr>
      <p>DATA BINDINGS</p>
      <app-practicing-databinding></app-practicing-databinding>
    
      <hr>
      <p>DIRECTIVES</p>
      <app-practising-directives></app-practising-directives>
    </div>
  </div>
</div>